<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARPlacementAppForAndroid"
        tools:targetApi="31">

        <!-- ARCore metadata -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ARPlacementAppForAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ARActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ARPlacementAppForAndroid" />

        <activity
            android:name=".DrillDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ARPlacementAppForAndroid" />

    </application>

</manifest>
